body{
	margin: 0px;
}

#header{
	background-color: #1c50d4;
	padding: 10px;
}

#header ul{
	margin: 20px 0px;
	list-style: none;
	text-align: center;
	display: inline-block;
}

#header li{
	display: inline-block;
	color: white;
	padding: 0.8rem 1rem;
	font-size: 1.2rem;
	width: 4rem;
	text-align: center;
	margin: 0 10px;
	border-radius: 15px;
}

#header a{
	text-decoration: none;
	color: white;
}

#header li:hover{
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	border-radius: 15px;
	transition: all 0.5s;
}

#header img{
	display: inline-block;
	position: relative;
	left: 20px;
	top: 30px;
}

.main-content{
	background-color: #ededdd;
	height: auto;
	padding: 20px 0 50px 0;
	background: linear-gradient(180deg, #cae0fa, #dfb5f5);
}


#heading{
	text-align: center;
}

#heading h1{
	margin-top: 0px;
}

#testimonials{
	display: inline-block;
}

.testimonial{
	padding: 20px;
	background-color: #b7a4bd;
	margin: 20px;
	width: 40%;
	border-radius: 5px;
	display: inline-block;
	box-shadow: 1px 1px 1em #333;
}

.testimonial h3{
	font-weight: 800;
}

#footer{
	padding-bottom: 20px;
	background-color: #0a030d;
	color: ghostwhite;
	display: inline-block;
	width: 100%;
}

#footer p{
	display: inline-block;
	padding: 20px;
	position: relative;
	left: 20px;
}

#contact{
	position: relative;
	left: 30%;
	display: inline-block;
	background-color: #f3edf5;
	color: #000;
	width: 30%;
	padding: 15px;
	margin-top: 20px;
	border-radius: 5px;
}

#contact input, textarea{
	display: block;
	width: 80%;
}

#contact h4{
	margin-top: 5px;
}

#contact input[type="submit"]{
	position: relative;
	justify-content: center;
	top: 10px;
	margin-bottom: 10px;
	background-color: #000;
	color: ghostwhite;
	font-weight: bolder;
	border-radius: 5px;
	text-align: center;
	padding: 5px 8px;
	width: auto;
}
/*Flights Styles*/

#flights{
	background-color: ;
}

#journey-details{
	display: inline-block;
	text-align: center;

}

#journey-details-item label, input{
	display: inline-block;
}

.journey-details-item{
	padding: 10px 20px;
	background-color: ghostwhite;
	border-radius: 5px;
	display: inline-block;
	margin: 10px 20px;
}


#search{
	padding: 0 10px;
	border-radius: 5px;
	border: 2px solid black;
}
.journey-details-item input[type="submit"]{
	padding: 10px 0;
	border: 0px solid #fff;
	font-weight: bolder;
	background-color: #fff;
}

#results{
	display: flex;
	flex-direction: column;
	height: 100vh;
	align-items: center;
}

.flight-details{
	display: flex;
	flex-direction: column;
	background-color: #f6f2f7;
	margin: 10px 0;
	padding: 10px;
	width: 60%;
	border-radius: 5px;
	box-shadow: 1px 1px 1em #1c1b1c;
}

.flight-details-top{
	display: flex;
	flex-direction: row;
	width: 100%;
	align-content: stretch;
}

.flight-details-bottom{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.flight-no{
	position: relative;
	left: 10px;
	top: 5px;
}

.rating{
	position: relative;
	left: 75%;
	top: 1.5rem;
	font-weight: bold;
}

.price{
	font-weight: bolder;
	color: #521752;
}
